body {
    font-family: "FS Meridian Regular", sans-serif;
    margin: 0px;
    color: #fff;
    letter-spacing: normal;
}

a {
    color: #000;
}

.header__content {
    display: flex;
    justify-content: space-around;
        align-items: center;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: center;
    font-size: medium;
}

.header__nav:hover {
text-decoration: none;
}

.header__items {
margin-right: 40px;
}

.header__items:hover {
text-decoration: none;
}

.header__links {
  border-bottom: 1px solid #000;
}

.main__promo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9F7F66;
    color: #FFF;
    height: 40px;
    margin-bottom: 10px;
}

.title__link {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    border: aliceblue;
    border-color: #fff !important;
    font-family: "FS Meridian Medium",sans-serif;
    font-weight: 500;
    text-transform: none;
    border-bottom: 1px solid;
    display: inline-block;
    text-decoration: none;
    letter-spacing: normal;
    font-variant-ligatures: no-common-ligatures;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    text-align: left;
}

.wrapper__items {
    flex: 1 1 400px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.wrapper__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.wrapper__items-title {
font-size: 1.4rem;
    line-height: 120%;
    min-height: 22px;font-weight: 500!important;
    color: #000;
    font-family: FS Meridian Medium,sans-serif;
}

.wrapper__items-price {
    font-size: 14px;
    font-weight: 500!important;
    color: #000;
    font-family: FS Meridian Medium,sans-serif;
    color: #000;
}

.wrapper__items-desc {
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(68, 66, 66); font-size: 14px;
    line-height: 21px;
    height: 100%;
}

.wrapper__items-promo {
    position: absolute;
    left: 7px;
    top: 5px;
    padding: 2px 5px;
    font-size: 14px;
    color: #008248;
    background-color: #fff;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    font-family: FS Meridian Medium ,sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    height: 20px;
    line-height: 20px;
    padding: 1px 8px;
}

.wrapper__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper__title {
    font-size: calc(26px + 10 * ((100vw - 320px)/ 960));
    margin: 0 0 40px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left; color:#000;
}